@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height: 600px;">
    <!-- Adjust the height as needed -->
    <h1 class="display-4">Welcome To Drive </h1>
    <img src="~/images/Home.jpg" alt="Home Drive" class="img-fluid" style="height: 50%;">
</div>

